
# DATASETS 

data/deap/
data/raw/
*.dat
*.npy
*.npz
*.pkl
*.h5


# PYTHON CACHE

__pycache__/
*.pyc
*.pyo
*.pyd


# VENV

venv/
.venv/
.env/

# LOCAL THESIS NOTES (keep dependency file trackable)
*.txt
!requirements.txt


# EXPERIMENTS / OUTPUTS

experiments/
outputs/
logs/


# OS FILES

.DS_Store
Thumbs.db
