# =========================
# DATASETS (RAW ONLY)
# =========================
data/deap/
data/raw/
*.dat
*.npy
*.npz
*.pkl
*.h5

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV
# =========================
venv/
.env/

# =========================
# EXPERIMENTS / OUTPUTS
# =========================
experiments/
outputs/
logs/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db